<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="card" th:fragment="user-post">
    <div class="user-info">
        <img src="user1.jpg" alt="User profile picture">
        <div class="username">Alan Smith</div>
    </div>
    <div class="post-text">Amazing holiday starts on a perfect paradise island in Thailand!</div>
    <div class="hashtags">#holiday, #thailand</div>
    <img src="post-image1.jpg" class="post-image" alt="Post image">
    <div class="actions">
        <div class="likes-comments">
            <i class="fas fa-heart"></i> 128 <i class="fas fa-comment"></i> 32
        </div>
    </div>
</div>

</body>
</html>