/* 중앙 컨테이너 */
.mid-container {
    width: 100%;
    min-width: 300px;
    max-width: 480px;
    text-align: center;
    padding: 10px;
}

/*Activate 영역*/
.activate-container{
    padding: 10px;
    display : flex;
    height:100%;
    border : 1px solid #f1f1f1;
}

/* 네비게이션 컨테이너 */
.nav-container {
    padding: 10px;
    height: 100%; /* 고정 높이 설정 */
}

/* 메인 콘텐츠 컨테이너 */
.main-container {
    max-width: 780px;
    min-width: 300px;
    width: 100%;
    padding: 10px;
    height: 100%; /* 고정 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 가능하게 설정 */
}

/* 서브 컨테이너 스타일 */
.sub-container {
    max-width: 360px;
    min-width: 300px;
    width: 100%;
    padding: 10px;
    height: 100%; /* 고정 높이 설정 */
}

