/* 태그 UI */
.subLayout {
  /*  border-radius: 10px;*/
    padding: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-left : 1px solid #f1f1f1;
}

/*tag section*/
.sub-section{

}
.sub-content{
    margin-bottom:20px;
}

/* 타이틀 영역 */
.sub-section h1{
    font-size: 1.5em;
    font-weight: bold;
}

.sub-section .sub-content h1{
    font-size: 1em;
    font-weight:bold;
}


