<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::title},~{::link})">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
    <div class="mid-container">
        <header>
            <h1>TagRoom #</h1> <!-- Service name -->
        </header>
        <main>
            <h2>Share precious moments<br>on a tag-based SNS<br>with your friends! 👫✨</h2> <!-- Service description -->
            <button class="active-button" onclick="location.href='signup'">회원가입</button> <!-- Button text -->
            <button class="de-button" onclick="showLoginModal()">이미 계정을 가지고 계신가요?</button> <!-- Button text -->
        </main>
    </div>

    <!-- 로그인 모달 -->
    <div class="modal" id="loginModal">
        <div class="modal-content">
            <h2>
                Login
                <button class="close-button" onclick="closeLoginModal()">
                    <i class="fas fa-times"></i>
                </button>
            </h2>
            <div class="input-group">
                <label for="login-id">ID</label>
                <input type="text" id="login-id" placeholder="Enter your ID" required>
            </div>
            <div class="input-group">
                <label for="login-password">Password</label>
                <input type="password" id="login-password" placeholder="Enter your password" required>
            </div>
            <p class="error-message" id="login-error"></p>
            <button class="active-button" onclick="login()">로그인</button>
        </div>
    </div>


    <script th:replace="~{fragments/script :: login}"></script>
</body>
</html>
