<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Square:wght@400;700&display=swap" rel="stylesheet"> <!-- 나눔스퀘어 링크 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/layout.css">
    <title>Login Screen</title>
    <style>

    </style>
</head>
<body>
<div class="mid-container">
    <header>
        <h1>TagRoom #</h1> <!-- Service name -->
    </header>
    <main>
        <h2>Share precious moments<br>on a tag-based SNS<br>with your friends! 👫✨</h2> <!-- Service description -->
        <button class="signup-button" onclick="location.href='signup'">회원가입</button> <!-- Button text -->
        <button class="existing-account" onclick="showLoginModal()">이미 계정을 가지고 계신가요?</button> <!-- Button text -->
    </main>
</div>

<!-- 로그인 모달 -->
<div class="modal" id="loginModal">
    <div class="modal-content">
        <h2>
            Login
            <button class="close-button" onclick="closeLoginModal()">
                <i class="fas fa-times"></i>
            </button>
        </h2>
        <div class="input-group">
            <label for="login-id">ID</label>
            <input type="text" id="login-id" placeholder="Enter your ID" required>
        </div>
        <div class="input-group">
            <label for="login-password">Password</label>
            <input type="password" id="login-password" placeholder="Enter your password" required>
        </div>
        <p class="error-message" id="login-error"></p>
        <button class="signup-button" onclick="login()">로그인</button>
    </div>
</div>


<script src="/js/script.js"></script>
</body>
</html>
