<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNS Main Screen</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Square:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/searchbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/sub.css">
</head>
<body>


<div class="nav-container">
    <div class="sidebar">

        <!--사용자 정보를 th문으로 불러오기-->
        <div class="profile-section">
            <img th:src="${#strings.isEmpty(userInfo.profileImg) ? '/img/default_profile.png' : userInfo.profileImg}" alt="Profile Picture">
            <div class="profile-info">
                <p th:text="${userInfo.nickname}">닉네임이 들어갑니다</p>
                <span th:text="${userInfo.personal}">고유 ID가 들어갑니다.</span>
            </div>
        </div>
        <ul class="menu-list">
            <li>Activity <span class="badge">2</span></li>
            <li>My Shots</li>
            <li>Bookmarks</li>
            <li>Messages <span class="badge">14</span></li>
            <li>Subscription</li>
            <li>Stats</li>
        </ul>
        <div class="settings-section">
            <p>Settings</p>
            <p onclick="logout()">Log out</p>
        </div>
    </div>
</div>

<!-- 카드 레이아웃 -->
<div class="activate-container">
    <div class="main-container">
        <div th:replace="~{fragments/card :: user-post}"></div>
    </div>

    <div class="left-container">
        <div class="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">
        </div>

        <div class="subLayout">
            <!-- 사용자 목록 -->
            <div class="sub-section">
                <h1>Tag List</h1>
                <div class="sub-content">
                    <h1>사용자</h1>
                    <button onclick="toggleSelection(this)" class="user-btn">Alan Smith</button>
                    <button onclick="toggleSelection(this)" class="user-btn">Jason Smith</button>
                    <button onclick="toggleSelection(this)" class="user-btn">Emma Brown</button>
                </div>
                <div class="sub-content">
                    <h1>태그</h1>
                    <button onclick="toggleSelection(this)" class="user-btn">#Alan Smith</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Jason Smith</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Emma</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Alan Smith</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Jason</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Emma Brown</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Alan Smith</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Jason Smith</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Emma</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Alan</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Jason</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Emma</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Alan Smith</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Jason</button>
                    <button onclick="toggleSelection(this)" class="user-btn">#Emma Brown</button>
                </div>
            </div>
        </div>


        <div class="subLayout">
            <!-- 사용자 목록 -->
            <div th:replace="~{fragments/explore :: user-explore}"></div>
        </div>

    </div>
</div>


<script src="/js/script.js"></script>
</body>
</html>
