<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::title},~{::link})">
    <title>Main Page</title>

    <link rel="stylesheet" th:href="@{/css/card.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/sub.css}">
    <link rel="stylesheet" th:href="@{/css/sub_explore.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/write.css}">
</head>
<body>

    <div th:replace="~{fragments/nav :: navigation}"></div>

    <!-- 카드 레이아웃 -->
    <div class="activate-container">
        <div class="main-container">
            <div th:replace="~{fragments/card :: user-post}"></div>
        </div>

        <div class="sub-container">
            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search">
            </div>

            <div class="subLayout">
                <!-- 사용자 목록 -->
                <div class="sub-section">
                    <h1>Tag List</h1>
                    <div class="sub-content">
                        <h1>사용자</h1>
                        <button onclick="toggleSelection(this)" class="user-btn">Alan Smith</button>
                        <button onclick="toggleSelection(this)" class="user-btn">Jason Smith</button>
                        <button onclick="toggleSelection(this)" class="user-btn">Emma Brown</button>
                    </div>
                    <div class="sub-content">
                        <h1>태그</h1>
                        <button onclick="toggleSelection(this)" class="user-btn">#Alan Smith</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Jason Smith</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Emma</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Alan Smith</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Jason</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Emma Brown</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Alan Smith</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Jason Smith</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Emma</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Alan</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Jason</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Emma</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Alan Smith</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Jason</button>
                        <button onclick="toggleSelection(this)" class="user-btn">#Emma Brown</button>
                    </div>
                </div>
            </div>


            <div class="subLayout">
                <!-- 사용자 목록 -->
                <div th:replace="~{fragments/explore :: user-explore}"></div>
            </div>


        </div>
    </div>

    <div class="modal" id="writeModal">
        <div class="modal-content">
            <h2>
                글 작성하기
                <button class="close-button" onclick="closeWriteModal()">
                    <i class="fas fa-times"></i>
                </button>
            </h2>
            <div class="input-group">
                <label for="post-content">내용</label>
                <textarea id="post-content" placeholder="내용을 입력하세요..." rows="5" required></textarea>
            </div>
            <p class="error-message" id="post-error"></p>
            <div class="tag-group">
                <h2>태그 추가</h2>
                <input
                        type="text"
                        class="tag-search"
                        placeholder="태그 검색..."
                        oninput="searchTags()"
                />
            </div>
            <div class="image-upload">
                <label for="post-image">
                    <i class="fas fa-image"></i> 사진 추가
                </label>
                <input type="file" id="post-image" accept="image/*" style="display: none;" />
            </div>
            <button class="active-button" onclick="submitPost()">작성 완료</button>
        </div>
    </div>

</body>

<script th:replace="~{fragments/script :: default}"></script>
<script th:replace="~{fragments/script :: write}"></script>
</html>
