<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::title},~{::link})">
    <title>Sign up</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>

<body>
    <div class="mid-container">
        <header>
            <h1>TagRoom #</h1> <!-- 페이지 제목 -->
        </header>
        <main>
            <h2>회원가입을 해주세요 📝</h2> <!-- 설명 제목 -->

                <div class="input-group">
                    <label for="user-id">ID</label>
                    <input type="text" id="user-id" placeholder="Enter your ID" required>
                    <p class="error-message" id="user-id-error"></p>
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Create a password" required>
                    <p class="error-message" id="password-error"></p>
                </div>

                <div class="input-group">
                    <label for="nickname">Nickname</label>
                    <input type="text" id="nickname" placeholder="Choose a nickname" required>
                    <p class="error-message" id="nickname-error"></p>
                </div>

                <div class="input-group">
                    <label for="unique-id">Unique ID</label>
                    <input type="text" id="unique-id" placeholder="Enter a unique ID" required>
                    <p class="error-message" id="unique-id-error"></p>
                </div>
                <button onclick="signup()" class="active-button">제출</button> <!-- 회원가입 버튼 -->
            <p class="login-link">이미 계정이 있으신가요? <a href="login">로그인</a></p> <!-- 로그인 링크 -->
        </main>
    </div>

</body>

<script th:replace="~{fragments/script :: signup}"></script>
</html>
